torch==1.3.0
torchvision==0.6.0
easydict==1.9
opencv-python==4.5.4.18
numpy==1.19.5
torchsummary==1.5.1
tensorboard==2.4.1
scikit-learn==0.22.2
wget==3.2
tqdm==4.54.0
matplotlib==3.3.3
shapely==1.7.1
